<app-header></app-header>
<div class="cocktail color background-01">
    <div class="cocktail-photo">
        <img [src]="cocktailsDBService.cocktailImage" alt="img">
    </div>
    <div class="cocktail-description">
        <button (click)="tryNext()">Try Next!</button>
        <h1>{{ cocktailsDBService.cocktailName }}</h1>
        <!-- <h2>Cocktail Info:</h2> -->
        <p><b>Instructions: </b>{{ cocktailsDBService.cocktailInstructions }}</p>
        <div class="details">
            <div class="ingr">
                <b>Ingridients:</b><p (click)="getIngr($event)" *ngFor="let ing of cocktailsDBService.cocktailIngredients" >{{ing}}</p>
            </div>
            <div class="mesur">
                <b>Measure:</b><p *ngFor="let mes of cocktailsDBService.cocktailMeasure" >{{mes}}</p>
            </div>
        </div>
        <span>{{ cocktailsDBService.cocktailAlcohol }}</span>

    </div>
</div>
<!-- &nbsp;  -->