
.cocktail {
    display: flex;
    justify-content: space-around;
    padding: 0 50px 0 50px;

    .cocktail-photo {
        width: fit-content;

        img {
            border-radius: 10px;
        }
    }

    .cocktail-description {
        width: 800px;
        // margin-right: 150px;
        border-radius: 10px;
        background-color: #F6F6F6;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            font-size: 50px;
            text-align: center;
        }

        h2 {
            font-size: 40px;
        }

        b {
            font-size: 30px;
        }

        p {
            font-size: 20px;
            margin: 10px;
        }

        span {
            color: #9e9393;
        }

        button {
            margin: 0 auto;
            border: 0;
            cursor: pointer;
            background-color: white;
            width: 300px;
            height: 80px;
            transition: ease-in 0.3s;
            border-radius: 4px;
        }

        button:hover {
            background-color: black;
            color: white;
        }

        .details {
            display: flex;
            justify-content: space-around;

            .ingr {
                margin: 10px;
                // max-height: 600px;
                width: fit-content;

                p {
                    cursor: pointer;
                    transition: 0.3s;
                }

                p:hover {
                    color: rgb(170, 167, 167);
                }
            }
    
            .mesur {
                margin: 10px;
                max-height: 600px;
                width: fit-content;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
        .cocktail {
            width: 700px;
            display: flex;
            flex-direction: column-reverse;
            gap: 50px;

            .cocktail-photo {
                width: 650px;

                img {
                    width: 650px;
                }
            }

            .cocktail-description {
                width: 590px;
            }
        }
}