.cocktailCards {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

h2 {
    margin-left: 80px;
    padding: 20px;
}

app-cocktail-card:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
    cursor: pointer;
}

app-cocktail-card:not(:hover) {
    transform: scale(1);
    transition: 0.2s ease-in;
}